.carousel .slide {
    background: rgba(0, 0, 0, 0) !important;
}

.carousel .control-arrow {
    top: 0;
    bottom: 0;
    margin-top: 0;

    background: rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px !important;
}

.carousel .control-arrow:hover {
    background: rgba(0, 0, 0, 0.8) !important;
}

.carousel .slide .legend {
    left: 60% !important;
    margin-left: -45% !important;
    width: 70% !important;
    opacity: 0.1 !important;
    border-radius: 5px !important;
}

.carousel .slide .legend:hover {
    opacity: 0.8 !important;
}