
.fade-out {
  position: relative;
}

.fade-out::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom,
                    rgba(242, 242, 242, 0),
                    rgba(242, 242, 242, 1) 90%);
  width: 100%;
  height: 4em;
  margin: 0;
}
