.skills-filter-tag {
  font-size: var(--fs-md);
  padding: 4px 12px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.skills-filter-tag:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
