body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 400px;
  min-height: 100%;
  padding: 0;
}

#root {
  min-height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sect {
  padding-top: 20px;
  padding-bottom: 50px;
}

.sect-inner {
  padding-left: 10%;
  padding-right: 10%;
}

.type-a {
  background-color: inherit !important;
}

.type-b {
 background-color: #E8E8E8 !important;
}

.type-c {
  background-color: #fafafa !important;
}

#sect-contact {
  padding-bottom: 0 !important;
}

.header-style {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.layout {
  min-height: 100vh;
}
